<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FriendSpeak | Anonymous social network among friends |</title>

    <!-- Bootstrap -->
    <link type='text/css' href="/static/css/bootstrap.css" rel="stylesheet" />
    <link type='text/css' href="/static/css/style.css" rel="stylesheet" />
    <link type='text/css' href="/static/css/simple-sidebar.css" rel="stylesheet" />

    {% block css %}
    {% endblock %}

    <style>
    body {
      font-family: Baskerville, serif !important;
      background: white;
      padding-top: 60px;
    }
    </style>

    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js'></script>
  </head>

  <body>

    <script type='text/javascript' src="/static/js/fbAuthLogin.js"></script>

    <div id="fb-root"></div>

    {% load humanize %}

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/">FriendSpeak</a>
          <ul class="nav pull-right">

            {% if user.is_authenticated %}
            <li><a class="photoadjust" href="/myprofile/"><img class="photo-icon" src="{{myprofileinfo.picture}}">&nbsp;&nbsp;&nbsp;{{myprofileinfo.name}}</a></li>
            <li><a class="navdivider">|</a></li>
            <li class="dropdown">
              {% if total > 0 %}
              <a data-toggle="dropdown" style="cursor:pointer;" id="changemessage"><img id="changemessagecolor" src="/static/images/message.png">&nbsp;&nbsp;<font style="color:#11a6ff;">{{total}}</font></a>
              {% else %}
              <a data-toggle="dropdown" style="cursor:pointer;" id="changemessage"><img id="changemessagecolor" src="/static/images/message.png"></a>
              {% endif %}
              <ul class="dropdown-menu">
                {% for a in allposts %}
                  {% if a.clicked == False %}
                    <li><a class="needclick" href="/view/{{a.id}}/">new post!</a></li>
                  {% else %}
                    <li><a class="clicked" href="/view/{{a.id}}/">old post</a></li>
                  {% endif %}
                {% endfor %}
                <li><a class="logmeout" href="/logout/">logout</a></li>
              </ul>
            </li>
            {% else %}
            {% endif %}

          </ul>

          {% if user.is_authenticated %}
          {% else %}
          <ul class="nav">
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
          {% endif %}
	
        </div>
      </div>
    </div>

    {% if user.is_authenticated %}
    <!--<div class="slidebar">
      <a href="#menu-toggle" id="menu-toggle">&gt;</a>
    </div>-->

    <div id="wrapper">
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <div class="sidebar-brand">
            <div><a href="#menu-toggle" id="menu-toggle"><img src="/static/images/10.png" style="cursor:pointer;"></a></div>
            <span><input class="filterinput input-block-level" id="filterbox" type="text" placeholder="Search..."></span>
          </div>
          <div id="profileFriendsApp"></div>
          <div id="profileTaggableFriends"></div>
        </ul>
      </div>
      <div id="page-content-wrapper">
        <div class="container-fluid">
          {% block body %}
          {% endblock %}
        </div>
      </div>
    </div>
    {% else %}
    <br><br><br><br><br><br>
    <center>
    <div class="container-fluid">
      <div class="landing">
        <div class="fb-login-button" data-max-rows="1" data-size="large" data-show-faces="true" data-auto-logout-link="true" scope="user_birthday,user_about_me,user_location,user_friends"></div>
        <p style="margin:0;">Please login to Facebook</p>
      </div>
      <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/KrVC5dm5fFc?list=RDUhSCesSpJac&autoplay=0" frameborder="0" allowfullscreen></iframe> -->
    </div>
    <div class="landinglogin">
      <form method="post" action="/login/" style="margin:0;" id="loginForm">
        <input type="text" name="username" id="profileUserID" maxlength="254" placeholder="Username">
        <input type="password" name="password" id="password" maxlength="4096" placeholder="Password">
        <input type="text" name="profilename" id="profileName" maxlength="1000" placeholder="Profile name">
        <input type="text" name="profilelocale" id="profileLocale" maxlength="1000" placeholder="Profile locale">
        <input type="text" name="profileage" id="profileAge" maxlength="1000" placeholder="Profile age">
        <input type="text" name="profilepicture" id="profilePicture" maxlength="1000" placeholder="Profile picture">
        <input type="text" name="profileemail" id="profileEmail" maxlength="1000" placeholder="Profile email">
        <input type="text" name="profilebio" id="profileBio" maxlength="1000" placeholder="Profile bio">
        <input type="text" name="profilelocation" id="profileLocation" maxlength="1000" placeholder="Profile location">
        <input type="text" name="profileaddress" id="profileAddress" maxlength="1000" placeholder="Profile address">
        <input type="text" name="profilefriends" id="profileFriends" style="margin-bottom:15px;" maxlength="1000" placeholder="Profile friends">
        <button class="btn" name="submitButton" type="submit">Update info</button>
      </form>
    </div>
    </center>
    {% endif %}

    {% block extra-js %}
    {% endblock %}

    <!-- Le javascript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script>

    $("#changemessage").mouseout(function() {
        $("#changemessagecolor").attr("src", "/static/images/message.png");
    });

    $("#changemessage").mouseover(function() {
        $("#changemessagecolor").attr("src", "/static/images/message_fff.png");
    });

    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
        $(".navbar.nav li a").toggleClass("toggled");
        if ($("#wrapper").hasClass("toggled")) {
            $(this).html("&lt;");
        }
        else {
            $(this).html("&gt;");
        }
    });

    var dropdown = document.querySelectorAll('.dropdown');
    var dropdownArray = Array.prototype.slice.call(dropdown,0);
    dropdownArray.forEach(function(el){
        var button = el.querySelector('a[data-toggle="dropdown"]'), menu = el.querySelector('.dropdown-menu'), arrow = button.querySelector('i.icon-arrow');
        button.onclick = function(event) {
            if(!menu.hasClass('show')) {
                menu.classList.add('show');
                menu.classList.remove('hide');
                arrow.classList.add('open');
                arrow.classList.remove('close');
                event.preventDefault();
            }
            else {
                menu.classList.remove('show');
                menu.classList.add('hide');
                arrow.classList.remove('open');
                arrow.classList.add('close');
                event.preventDefault();
            }
        };
    })

    Element.prototype.hasClass = function(className) {
        return this.className && new RegExp("(^|\\s)" + className + "(\\s|$)").test(this.className);
    };

    </script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/static/js/bootstrap-transition.js"></script>
    <script src="/static/js/bootstrap-alert.js"></script>
    <script src="/static/js/bootstrap-modal.js"></script>
    <script src="/static/js/bootstrap-dropdown.js"></script>
    <script src="/static/js/bootstrap-scrollspy.js"></script>
    <script src="/static/js/bootstrap-tab.js"></script>
    <script src="/static/js/bootstrap-tooltip.js"></script>
    <script src="/static/js/bootstrap-popover.js"></script>
    <script src="/static/js/bootstrap-button.js"></script>
    <script src="/static/js/bootstrap-collapse.js"></script>
    <script src="/static/js/bootstrap-carousel.js"></script>
    <script src="/static/js/bootstrap-typeahead.js"></script>

  </body>
</html>
