{% extends "base.html" %}

{% block css %}
{% endblock %}

{% block body %}

<br><br>
  <form method="POST" action="/post/" enctype="multipart/form-data" style="margin-bottom:30px;">
    <input class="input-block-level lastinput" id="textbox" type="text" name="wallpost" maxlength="1000" placeholder="Post anonymously to everyone" required>
    <div class="buttonbox"><p style="margin:0;text-align:right;"><button class="btn btn-default" id="orangebutton" name="submit" type="submit">Post</button></p></div>
  </form>
  {% for w in wallposts %}
    <div class="boxall">
    <div class="box">
      <div class="boxpost">
        <p class="whitetext">{{w.wallpost}}</p>
        {% if user.username == w.user.username %}
        <p class="textal"><img class="photo-post" src="/static/images/nick_prof.jpg">{{w.timeremoved}} ago</p>
        {% else %}
        <p class="textal">{{w.timeremoved}} ago</p>
        {% endif %}
      </div>
      <div class="boxbuttons">
        <div style="float:right;">
          <center>
            <div id="like_wall{{w.id}}"></div>
            <div id="likes_wall{{w.id}}"></div>
            <div id="dislike_wall{{w.id}}"></div>
          </center>
        </div>
        {% if w.hascomments == True %}
        <div class="commenticon" id="getcomments{{w.id}}"><img id="commentimage{{w.id}}" src="/static/images/comment.png"></div>
        {% endif %}
      </div>
    </div>
    <div class="commentslide" id="commentslider{{w.id}}">
      <div id="comment_wall{{w.id}}"></div>
    </div>
    <div class="commentbox">
      <form method="POST" action="/commentwall/{{w.id}}/" enctype="multipart/form-data" style="margin:0;" id="formid{{w.id}}" data-id="{{w.id}}">
        <input class="input-block-level commentinput commentfocus{{w.id}}" id="inputbox" type="text" name="wallcomment" maxlength="500" placeholder="Write a comment..." required>
      </form>
    </div>
    </div>
  {% endfor %}
<br><br><br>

{% endblock %}

{% block extra-js %}

<script>

var username = "{{user.username}}";

{% for w in wallposts %}

$('#getcomments{{w.id}}').click(function() {
    if ($("#commentimage{{w.id}}").attr("src") == "/static/images/comment.png") {
        loadComments({{w.id}});
        $("#commentimage{{w.id}}").attr("src", "/static/images/comment_blue.png");
    }
    else {
        $("#commentimage{{w.id}}").attr("src", "/static/images/comment.png");
        $("#commentslider{{w.id}}").slideUp();
    }
});

{% if w.hascomments == True %}
$('.commentfocus{{w.id}}').focus(function() {
    loadComments({{w.id}});
    $("#commentimage{{w.id}}").attr("src", "/static/images/comment_blue.png");
});
{% endif %}

$('#formid{{w.id}}').live("submit", function(event) {
    event.preventDefault();
    $.ajax({
        url: $('#formid{{w.id}}').attr('action'),
        type: $('#formid{{w.id}}').attr('method'),
        data: $('#formid{{w.id}}').serialize(),
        success: function(data) {
            loadComments($("#formid{{w.id}}").attr('data-id'));
            $("#formid{{w.id}} input").val("");
        }
    });
});

$('#like{{w.id}}').live("click", function(event) {
    event.preventDefault();
    $.ajax({
        url: $('#like{{w.id}}').attr('href'),
        type: 'GET',
        success: function(data) {
            loadLike();
            loadLikes();
            loadDislike();
        }
    });
});

$('#dislike{{w.id}}').live("click", function(event) {
    event.preventDefault();
    $.ajax({
        url: $('#dislike{{w.id}}').attr('href'),
        type: 'GET',
        success: function(data) {
            loadLike();
            loadLikes();
            loadDislike();
        }
    });
});

{% endfor %}

function load() {
    loadLike();
    loadLikes();
    loadDislike();
}
window.onload = load;

function loadLike() {
    $.ajax({
        url: "/ajax/blog/getLikeW",
        type: "POST",
        dataType: "json",
        success: function(data) {
            if (data["status"] == "OK") {
                var likesw = "";
                for (var i = 0; i < data["walllike"].length; i++) {
                    var likew = data["walllike"][i];
                    var likew_id = likew.wallid;
                    var likew_color = likew.color;
                    likesw = "<p style='margin:0;'><a id='like" + likew_id + "' href='/likewall/" + likew_id + "/'><img src='/static/images/" + likew_color + ".png'></a></p>";
                    $('#like_wall' + likew_id).html(likesw);
                }
            }
        },
    });
}

function loadLikes() {
    $.ajax({
        url: "/ajax/blog/getLikesW",
        type: "POST",
        dataType: "json",
        success: function(data) {
            if (data["status"] == "OK") {
                var likes = "";
                for (var i = 0; i < data["walllikes"].length; i++) {
                    var like = data["walllikes"][i];
                    var like_id = like.id;
                    var like_likes = like.likes;
                    likes = "<p style='margin:0;color:#959595;'>" + like_likes + "</p>";
                    $('#likes_wall' + like_id).html(likes);
                }
            }
        },
    });
}

function loadDislike() {
    $.ajax({
        url: "/ajax/blog/getDislikeW",
        type: "POST",
        dataType: "json",
        success: function(data) {
            if (data["status"] == "OK") {
                var dislikesw = "";
                for (var i = 0; i < data["walldislike"].length; i++) {
                    var dislikew = data["walldislike"][i];
                    var dislikew_id = dislikew.wallid;
                    var dislikew_color = dislikew.color;
                    dislikesw = "<p style='margin:0;'><a id='dislike" + dislikew_id + "' href='/dislikewall/" + dislikew_id + "/'><img src='/static/images/" + dislikew_color + ".png'></a></p>";
                    $('#dislike_wall' + dislikew_id).html(dislikesw);
                }
            }
        },
    });
}

function loadComments(id) {
    $.ajax({
        url: "/ajax/blog/getCommentsW",
        data: ({ id: id }),
        type: "POST",
        dataType: "json",
        success: function(data) {
            if (data["status"] == "OK") {
                var comments = "";
                for (var i = 0; i < data["wallcomments"].length; i++) {
                    var comment = data["wallcomments"][i];
                    var comment_user = comment.usercomment;
                    var comment_comment = comment.wallcomment;
                    var comment_date = comment.date;
                    if (username == comment_user) {
                        comments += "<div class='comments'><div class='commentident' style='display:inline-block;vertical-align:top;margin-top:5px;'><p style='color:#d4d4d4;margin-right:15px;'><img class='photo-comment' src='/static/images/nick_prof.jpg'></p></div><div class='commentpoop' style='display:inline-block;'><p class='commentpost' style='display:inline-block;'>" + comment_comment + "</p><br><p class='commentdate' style='display:inline-block;'>" + comment_date + " ago</p></div></div>";
                    }
                    else {
                        comments += "<div class='comments'><div class='commentident' style='display:inline-block;vertical-align:top;margin-top:5px;'><p style='color:#d4d4d4;margin-right:15px;'><img src='/static/images/comment_blue.png'></p></div><div class='commentpoop' style='display:inline-block;'><p class='commentpost' style='display:inline-block;'>" + comment_comment + "</p><br><p class='commentdate' style='display:inline-block;'>" + comment_date + " ago</p></div></div>";
                    }
                }
                $('#comment_wall' + id).html(comments);
                $('#commentslider' + id).slideDown();
                //$('.commentbox').slideDown();
            }
        },
    });
}
</script>

{% endblock %}
