{% extends "base.html" %}

{% block css %}
{% endblock %}

{% block body %}

<br><br>

{% if form.errors %}

<div class="container">
  <center>
    <div class="alert">Username already taken</div>
    <form method="POST" action="/register/" enctype="multipart/form-data">
      <input class="input-block-level" type="text" name="username" maxlength="20" placeholder="Username" required>
      <input class="input-block-level" type="email" name="email" placeholder="Email" required>
      <input class="input-block-level lastinput" type="password" name="password" maxlength="40" placeholder="Password" required>
      <p><button class="btn btn-default input-block-level" name="submit" type="submit">Register</button></p>
    </form>
  </center>
</div>

{% else %}

<div class="container">
  <center>
    <form method="POST" action="/register/" enctype="multipart/form-data">
      <input class="input-block-level" type="text" name="username" maxlength="20" placeholder="Username" required>
      <input class="input-block-level" type="email" name="email" placeholder="Email" required>
      <input class="input-block-level lastinput" type="password" name="password" maxlength="40" placeholder="Password" required>
      <p><button class="btn btn-default input-block-level" name="submit" type="submit">Register</button></p>
    </form>
  </center>
</div>

{% endif %}

{% endblock %}

{% block extra-js %}
{% endblock %}
